DATA_DIRECTORY=/home/my-node/node
KEY_STORE_DIRECTORY=/home/dappnode/.aztec/keystore
COLLECTOR_CONFIG_DIRECTORY=/home/dappnode/aztec
LOG_LEVEL=info
ETHEREUM_HOSTS=[your L1 execution endpoint]
L1_CONSENSUS_HOST_URLS=[your L1 consensus endpoint]
P2P_IP=[your external IP address]
P2P_PORT=40400
AZTEC_PORT=8080
AZTEC_ADMIN_PORT=8880